/*  your css code here. If applicable */
.middle,
        td {
            border: 1px solid black;
            padding: 1px;

        }

        table {
            width: 100%;

        }

        #t11 {
            text-align: left;
            word-spacing: 1px;
        }

        #t12 {
            text-align: center;
            word-spacing: 1px;
        }

        #t13 {
            text-align: right;
            word-spacing: 1px;
        }

        #t21,
        #t22,
        #t23,
        #t24,
        #t25,
        #t26 {
            height: 20px;
        }
